GITHUB_ACCESS_TOKEN=github_pat_xxxxx # Only needed if '$REPOSITORIES' include a private repo
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T4Q9KCBC4/B05LE7EBPLG/xxxxxx
REPOSITORIES=owner1/repo1,owner2/repo2...
CRON_SCHEDULE="0 0 * * * *" # Set to desired "Release Check" frequency